---
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'blogPost'
});

const posts = data.stories.map((story: any) => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString('en-US', { dateStyle: 'full' }),
    description: story.content.description,
    slug: story.full_slug
  };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)} class="grid sm:grid-cols-2 place-content-center gap-4 h-screen">
  {
    posts.map((post) => (
      <li class="border border-red-500 p-4 rounded-md">
        <time>{post.date}</time>
        <a href={post.slug}>{post.title}</a>
        <p>{post.description}</p>
      </li>
    ))
  }
</ul>
